     body
     {
        background-image:url(images/image.png);   
         background-position: center;
         background-size: cover;      
         background-attachment: fixed;
         background-repeat: no-repeat;
     }     
     .arabic_letters   
      {
        min-height: 100vh;
        text-align: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        padding:30px 70px;    
      }
      .arabic_letters h2
      {
        font-size: 350%;
        color: rgb(187, 32, 112);
        margin-bottom: 20px;
      }
     .arabic_letters .container
      {
        display: flex;
        background-blend-mode: overlay;
        background-color: rgba(237, 100, 191, 0.3);
        flex-wrap: wrap;
        justify-content:center;
        direction: rtl;
        border-radius: 20px;
        padding: 15px;
        gap: 15px;
      }
      .arabic_letters .card
      {
        background-color: white;
        border: solid  ;
        border-color: rgb(147, 13, 95);
        border-radius: 20px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 8px;
        padding: 0px 10px;
        width: 16em;    
        transition: 0.3s;            
      }
      .card img
      {
        width: 100%;
        height: auto;
      }       
      .card:hover
      {       
         transform :scale(1.12);         
      }
      @media(max-width : 768px)
      {
        .arabic_letters 
        {
          padding: 20px 15px;
        }
        .arabic_letters h2
        {
          font-size:  250%;
        }
        .arabic_letters .card
        {
          width: 90%;
        }
      }
       
